@tailwind base;

@tailwind components;
@tailwind utilities;

.required {
    border: 1px solid red;
}

.cardImg {
    height: 200px;
    width: 100%;
    object-fit: contain;
}

.homeCardImg {
    height: 150px;
    width: 85%;
    object-fit: contain;
    margin: 0 auto;
}

.logoColor {
    color:#0d60ad;
}
.logoColors {
    color:#ef5413;
}

.getStarted {
    background:#ef5413;
}
.textOrange {
    color:#ef5413;
}
.postProduct {
    border-color:#0d60ad;
    color:#0d60ad;
    background-color:transparent;
}

.blueBg {
    background-color:#0b569c;
}

.facebook {background:#3b5998;}
.facebook:hover {background:#4666ab;}
.twitter {background:#00acee;}
.twitter:hover {background:#0ebbfe;}
.youtube {background:#FF0000;}
.youtube:hover {background:#fb4242;}
.instagram {background:#8a3ab9;}
.instagram:hover {background:#a241db;}


.company-image {
    /* background-image: url(/images/amazon-office.jpg); */
    background-origin: inherit;
    background-size: 100% auto;
    object-fit: cover;
    background-position: center;
}
.company-logo {
    width: 90%;
    height: 100%;
    object-fit: contain;
    justify-content: center;
    align-items: center;
	
}

.company-logo-sm {
    width: 90%;
    height: 55px;
    object-fit: contain;
}