@tailwind base;

@tailwind components;
@tailwind utilities;

.required {
    border: 1px solid red;
}

.cardImg {
    height: 200px;
    width: 100%;
    object-fit: contain;
}

.homeCardImg {
    height: 150px;
    width: 85%;
    object-fit: contain;
    margin: 0 auto;
}

.logoColor {
    color:#0d60ad;
}
.logoColors {
    color:#ef5413;
}

.getStarted {
    background:#ef5413;
}
.postProduct {
    border-color:#0d60ad;
    color:#0d60ad;
    background-color:transparent;
}

.blueBg {
    background-color:#0b569c;
}